*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    min-height: 100vh; ;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
    overflow: hidden;
}

.navbar{
    width: 90%;
    display: flex;
    align-items: center;
    position: fixed;
}

.logo{
    width: 100px;
    cursor: pointer;
    margin: 30px 0;
    color: var(--primary-color);
    font-size: 35px;
    font-family: sans-serif;
}

.menu-icon{
    width: 25px;
    cursor: pointer;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    color: var(--primary-color);
}

nav ul li a:hover{
    text-decoration: underline;
}

.row-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15%;
}

.row-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 200px 0;
}

.row-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 200px 0;
}

.col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
    
}

.col-1 h2{
    font-size: 50px;
    color: var(--primary-color);
}

.col-1 p{
    font-size: 24px;
    font-weight: 100;
    margin: 30px 0;
    color: var(--primary-color);
}

button{
    width: 150px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: rgba(255, 255, 255, 0.926);
    background: var(--primary-color);
    border-radius: 6px;
    cursor:pointer;
}

button:hover{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    color : black;
}

.col-1::after{
    content: "";
    width: 10px;
    height: 100%;
    background: var(--primary-color);
    position: absolute;
    left: -40px;
    top: 10px;
}

.col-2{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
    
}

.col-2 .image{
    width: 75%;
}

.col-3{
    flex-basis: 40%;
    height: 100%;
    Right: 420px;
    top: 230px;
    position: absolute;
    margin-left: 50px;
}

.col-3 .image{
    width: 20%;
}

.col-4{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}

.col-4 .image{
    width: 100%;
}

.medsos{
    height: 20px;
    cursor:pointer;
    margin-left: 20px;
}

.stick{
    position: fixed;
    top: 0;
}

#icon{
    width: 30px;
    cursor: pointer;
}

:root{
    --primary-color:#963703eb;
    --secondary-color:rgb(211, 211, 211);
}

.dark-theme{
    transform: 2.4;
    --primary-color: #963703eb;
    --secondary-color:#000000;
}

footer {
    position: fixed;
    height: 50px;
    bottom: 0px;
    width: 100%;
    line-height: 50px;
    color: #000000;
    text-align: center;
    font-family: sans-serif;
    background-color: var(--primary-color);
}
